* {
    box-sizing: border-box;
  }

  #header {
    text-align: center;
  }

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  h2 {
    text-align: center;
  }

  form {
    text-align: center;
  }


  body {
    font-family: 'Roboto', sans-serif;
    
    background-color: rgb(299, 90, 0);
  }

  
  p {
    font-size: 22px;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .section {
    /*max-width: 600px;*/
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }


  
.food-list {
  list-style-type:none;
  overflow-x:hidden;
  white-space:nowrap; 
  height: 1em;
  width: 100%;
}
.food-list li {
  display:inline;
}

.food-tb tr td {
  text-align: center;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #FFF;
 }


.food-tb {
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
}

@media (max-width: 500px) {
  .displayRecipe {
    text-align: center;
  }

  .displayFood {
    text-align: center;
    
  }
}


@media screen and (min-width: 520px) {
.displayRecipe a {
  text-align: center;
}

.displayRecipe {
  float: left;
  margin-left: 250px;
  max-width: 800px;
}



.displayFood {
  float: right;
  margin-right: 100px;
}

}