* {
    box-sizing: border-box;
  }

  .ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: black;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

  #header {
    text-align: center;
    color: black;
  }

  h1 {
    font-family: 'IBM Plex Serif', serif;
    text-decoration: underline;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
  }

  form {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: black;
  }


  body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(red,#F79F3B);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: auto;
    text-align: center;
    color: #2F4858;
    
    
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  /* .section {
    
    margin: 0 auto;
  } */
  
  .error-message {
      color: red;
  }


  
.food-list {
  list-style-type:none;
  overflow-x:hidden;
  white-space:nowrap; 
  height: 1em;
  width: 100%;
}
.food-list li {
  display:inline;
}

.food-tb tr td {
  text-align: center;

  /* border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #FFF; */
 }

 tr:nth-child(even){background-color: #CBF7FF;}

 tr:hover {
    background-color: #f2f2f2;
  }
 /* tr:hover {background-color:#d5dcdd;} */


.food-tb {
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background-color:#ede9d0;
  /* opacity: 0.7; */
 
}

.displayFood {
  width: 55%;
  margin: auto;
}



