* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .section {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
.food-list {
  list-style-type:none;
  overflow-x:hidden;
  white-space:nowrap; 
  height: 1em;
  width: 100%;
}
.food-list li {
  display:inline;
}

.food-tb tr td {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
  border-bottom-color: #FFF;
 }
.food-tb {
  font-weight: bold;
  background-color: #C9C9AD;
  color: #000;
}
